bin
obj
Example_10.deps.json
Example_10.dll
Example_10.exe
Example_10.pdb
Example_10.runtimeconfig.json
Debug\net6.0
ref
Example_10.dll
refint
Example_10.dll
.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
apphost.exe
Example_10.AssemblyInfo.cs
Example_10.AssemblyInfoInputs.cache
Example_10.assets.cache
Example_10.csproj.AssemblyReference.cache
Example_10.csproj.CoreCompileInputs.cache
Example_10.csproj.FileListAbsolute.txt
Example_10.dll
Example_10.GeneratedMSBuildEditorConfig.editorconfig
Example_10.genruntimeconfig.cache
Example_10.GlobalUsings.g.cs
Example_10.pdb
Example_10.csproj.nuget.dgspec.json
Example_10.csproj.nuget.g.props
Example_10.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
Example_10.csproj
net6.0
Example_13.deps.json
Example_13.dll
Example_13.exe
Example_13.pdb
Example_13.runtimeconfig.json
Example_13.dll
refint
.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
apphost.exe
Example_13.AssemblyInfo.cs
Example_13.AssemblyInfoInputs.cache
Example_13.assets.cache
Example_13.csproj.AssemblyReference.cache
Example_13.csproj.CoreCompileInputs.cache
Example_13.csproj.FileListAbsolute.txt
Example_13.dll
Example_13.GeneratedMSBuildEditorConfig.editorconfig
Example_13.genruntimeconfig.cache
Example_13.GlobalUsings.g.cs
Example_13.pdb
Example_13.csproj.nuget.dgspec.json
Example_13.csproj.nuget.g.props
project.assets.json
project.nuget.cache
Example_13.csproj
Example_15.deps.json
Example_15.deps.json
Example_15.dll
Example_15.exe
Example_15.pdb
Example_15.runtimeconfig.json
.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
apphost.exe
Example_15.AssemblyInfo.cs
Example_15.AssemblyInfoInputs.cache
Example_15.assets.cache
Example_15.csproj.AssemblyReference.cache
Example_15.csproj.CoreCompileInputs.cache
Example_15.csproj.FileListAbsolute.txt
Example_15.GeneratedMSBuildEditorConfig.editorconfig
Example_15.genruntimeconfig.cache
Example_15.GlobalUsings.g.cs
Example_15.pdb
Example_15.csproj.nuget.dgspec.json
Example_15.csproj.nuget.g.props
Example_15.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
Example_15.csproj